.App {
  display: flex;
  height: 100vh;
}

.propertiesList {
  flex: 2;
  border: 1px black solid;
  overflow-y: auto;
}

.addProperty {
  flex: 1;
  border: 1px black solid;
}

.addProperty > div {
  display: flex;
  margin-bottom: 10px;
}
